<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function() {
            function createCheckboxAndLabel(id, value, label) {
                const checkboxInput = $('<input>')
                    .attr('type', 'checkbox')
                    .attr('id', id)
                    .attr('name', 'extension')
                    .attr('value', value)
                    .change(sendCheckedStatuses);

                const labelElement = $('<label>')
                    .attr('for', id)
                    .css('margin-right', '5px')
                    .text(label);

                $('#checkbox-container').append(checkboxInput).append(labelElement);
            }

            function sendCheckedStatuses() {
                const checkedStatuses = $('input[name="extension"]').map(function() {
                    return {
                        fixName: this.id,
                        fixStatus: this.checked
                    };
                }).get();

                console.log(checkedStatuses);

                $.ajax({
                    url: '/api/status',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(checkedStatuses),
                    error: function(xhr, status, error) {
                        console.error("Error sending statuses", error);
                    }
                });
            }
            $('input[name="extension"]').change(sendCheckedStatuses);

            function loadCheckboxStatuses() {
                $.ajax({
                    url: '/api/status',
                    type: 'GET',
                    success: function(data) {
                        data.forEach(function(fix) {
                            const checkbox = $('#' + fix.fixName);
                            if (checkbox.length) {
                                checkbox.prop('checked', fix.fixStatus);
                            }
                        });
                    },
                    error: function(xhr, status, error) {
                        console.error("Error loading checkbox statuses", error);
                    }
                });
            }

            const checkboxes = [
                        { id: 'bat', value: 'bat', label: 'bat' },
                        { id: 'cmd', value: 'cmd', label: 'cmd' },
                        { id: 'com', value: 'com', label: 'com' },
                        { id: 'cpl', value: 'cpl', label: 'cpl' },
                        { id: 'exe', value: 'exe', label: 'exe' },
                        { id: 'scr', value: 'scr', label: 'scr' },
                        { id: 'js',  value: 'js',  label: 'js' }
                    ];

            checkboxes.forEach(function(checkbox) {
                createCheckboxAndLabel(checkbox.id, checkbox.value, checkbox.label);
            });

            loadCheckboxStatuses();

            $('#extensionInput').on('input', function() {
                var inputLength = $(this).val().length;
                if (inputLength >= 20) {
                    $('#error-message').show();
                } else {
                    $('#error-message').hide();
                }
            });

            $('#addBadgeButton').click(function() {
                var extension = $('#extensionInput').val().trim();
                if(extension && extension.length > 0 && extension.length <= 20) {
                    $.ajax({
                        url: 'api/addBadge',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({ customName: extension }),
                        success: function(response) {
                            var badge = $('<span>')
                                .addClass('badge bg-secondary')
                                .css('margin-left', '5px')
                                .css('color', 'white')
                                .text(extension)
                                .append($('<span>').addClass('ms-1').css('margin-left', '5px').text('×').click(function() {
                                    removeBadge(extension, badge);
                                }));
                            $('#badgeContainer').append(badge);
                            $('#extensionInput').val('');
                            updateCustomCount();
                        },
                        error: function(xhr, status, error) {
                            if(xhr.responseText) {
                                var errorMessage = JSON.parse(xhr.responseText).message;
                                alert(errorMessage);
                            } else {
                                alert("오류 발생");
                            }
                        }
                    });
                }
            });

            function removeBadge(extension, badgeElement) {
                $.ajax({
                    url: 'api/deleteBadge?customName=' + encodeURIComponent(extension),
                    type: 'DELETE',
                    success: function(response) {
                        badgeElement.remove();
                        updateCustomCount();
                    },
                    error: function(xhr, status, error) {
                        console.error("삭제 실패", error);
                    }
                });
            }

            function loadCustomBadges() {
                $.ajax({
                    url: 'api/getCustomBadges',
                    type: 'GET',
                    success: function(response) {
                        response.forEach(function(custom) {
                            createBadge(custom.customName);
                    });
                },
                    error: function(xhr, status, error) {
                        console.error("배지 로드 실패", error);
                    }
                });
            }

            function createBadge(extension) {
                var badge = $('<span>')
                    .addClass('badge bg-secondary')
                    .css('margin-left', '5px')
                    .css('color', 'white')
                    .text(extension)
                    .append($('<span>').addClass('ms-1').css('margin-left', '5px').text('×').click(function() {
                        removeBadge(extension, badge);
                    }));
                $('#badgeContainer').append(badge);
            }

            function updateCustomCount() {
                $.ajax({
                    url: 'api/customCount',
                    type: 'GET',
                    success: function(response) {
                        $('#customCount').text(response + ' / 200');
                    },
                    error: function(xhr, status, error) {
                        console.error("업데이트 실패", error);
                    }
                });
            }

            loadCustomBadges();
            updateCustomCount();

            $('#dropdownButton').click(function() {
                $('#dropdownMenu').toggle();
            });

            $('#addExtensionButton').click(function() {
                var extension = $('#extensionBlockInput').val().trim();
                if (extension) {
                    $.ajax({
                        url: '/api/addFix',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({ fixName: extension, fixStatus: false }),
                        success: function(response) {

                            var checkbox = $('<input>')
                                .attr('type', 'checkbox')
                                .attr('id', extension)
                                .attr('name', 'blockedExtensions');
                            var label = $('<label>')
                                .attr('for', extension)
                                .text(extension);
                            var removeButton = $('<a>')
                                .text('x')
                                .css('margin-left', '5px')
                                .css('margin-right', '5px')
                                .css('color', 'red')
                                .click(function() {
                                    $(this).parent().remove();
                                });
                            var container = $('<span>')
                                .append(checkbox)
                                .append(label)
                                .append(removeButton);
                            $('#checkbox-container').append(container);

                            $('#extensionBlockInput').val('');
                            $('#dropdownMenu').hide();
                        },
                        error: function(xhr, status, error) {
                            console.error("추가 실패", error);
                            alert("오류가 발생했습니다: " + error);
                        }
                    });
                }
            });

            $('#checkbox-container').on('change', 'input[type="checkbox"]', function() {
                var fixes = $('input[type="checkbox"]').map(function() {
                    return {
                        fixName: this.id,
                        fixStatus: this.checked
                    };
                }).get();

                $.ajax({
                    url: 'api/status',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(fixes),
                    success: function() {
                        console.log("상태 업데이트 성공");
                    },
                    error: function(xhr, status, error) {
                        console.error("상태 업데이트 실패", error);
                    }
                });
            });

            function loadFixes() {
                $.ajax({
                    url: '/api/getFix',
                    type: 'GET',
                    success: function(fixes) {
                        fixes.forEach(function(fix) {
                            var checkbox = $('<input>')
                                .attr('type', 'checkbox')
                                .attr('id', fix.fixName)
                                .attr('name', 'blockedExtensions')
                                .prop('checked', fix.fixStatus);
                            var label = $('<label>')
                                .attr('for', fix.fixName)
                                .text(fix.fixName);
                            var removeButton = $('<a>')
                                .text('x')
                                .css('margin-left', '5px')
                                .css('margin-right', '5px')
                                .css('color', 'red')
                                .click(function() {
                                    removeFix(fix.fixName);
                                });
                            var container = $('<span>')
                                .append(checkbox)
                                .append(label)
                                .append(removeButton);
                            $('#checkbox-container').append(container);
                        });
                    },
                    error: function(xhr, status, error) {
                        console.error("Fix 데이터 로드 실패", error);
                    }
                });
            }

            function removeFix(fixName) {
                $.ajax({
                    url: '/api/deleteFix?fixName=' + encodeURIComponent(fixName),
                    type: 'DELETE',
                    success: function(response) {
                        $('#' + fixName).parent().remove();
                    },
                    error: function(xhr, status, error) {
                        console.error("Fix 삭제 실패", error);
                    }
                });
            }

            loadFixes();

        });

    </script>
</th:block>



<div layout:fragment="content">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <p class="text-center">파일 확장자에 따라 특정 형식의 파일을 차단하거나 접근하지 못하도록 제한해봅니다.</p>
                    <hr>
                    <div class="mb-3">
                        <label class="form-label" id="dropdownButton" onclick="toggleDropdown()">차단 확장자&nbsp;&nbsp;➕</label>
                        <div id="checkbox-container"></div>
                        <div id="dropdownMenu" style="display: none;">
                            <input type="text" id="extensionBlockInput" placeholder="확장자 입력">
                            <button class="btn btn-dark btn-sm opacity-75" id="addExtensionButton">+</button>
                        </div>
                    </div>
                    <div class="mb-1">
                        <label class="form-label">커스텀 확장자</label>
                    </div>
                    <div class="mb-3" style="display: flex; align-items: center;">
                        <input type="text" class="form-control" id="extensionInput" placeholder="확장자 입력" style="flex-grow: 1; margin-right: 10px;" maxlength="20">
                        <button class="btn btn-dark opacity-75" id="addBadgeButton">+</button>
                    </div>
                    <div id="error-message" style="color: red; display: none; margin-bottom: 10px; font-size: 14px;">
                        20글자를 초과할 수 없습니다.
                    </div>
                    <div class="mb-3">
                        <div class="card" style="height:250px; width: 100%;">
                            <span id="badgeContainer"></span>
                            <div id="customCount" style="position: absolute; bottom: 10px; right: 10px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>